
<%= notice %>
<%= form_for "rod[]", :url => {:action => "multiple_rod_info"}, html: {multipart: true , :class=>"form-rod"}  do |f| %>
  <table>
    <thead>
      <tr>
        <th nowrap>ID</th>
        <th nowrap>Photo</th>
        <th nowrap>Name</th>
        <th nowrap>Price Painted</th>
        <th nowrap>Price Plated</th>
        <th nowrap>Model</th>
        <th nowrap>Rod Length</th>
        <th nowrap>Color</th>
        <th nowrap>Retail</th>
        <th nowrap>Finish Technique</th>
        <th nowrap>Factory</th>
        <th nowrap>FOB</th>
        <th nowrap>Landed</th>
        <th nowrap>AMG Sell</th>
        <th nowrap>Total FOB</th>
        <th nowrap>Total Landed</th>
        <th nowrap>Total AMG Sell</th>
        <th nowrap>Total Retail Sales</th>
        <th nowrap>AMG Margin</th>
        <th nowrap>Retail Margin</th>
        <th nowrap>First Shipment Quantity</th>
        <th nowrap>Total Wave 2 Quantity</th>
        <th nowrap>40'HQ Container Max</th>
        <th nowrap>Brand</th>
        <th nowrap>Status</th>
        <th nowrap>Port</th>
        <th nowrap>ITS</th>
        <th nowrap>ETD</th>
        <th nowrap>ETA Port</th>
        <th nowrap>ETA Warehouse</th>
        <th nowrap>PO</th>
        <th nowrap>Cartons Shipping</th>
        <th nowrap>Quantity Shipping</th>
      </tr>
    </thead>
    <tbody>
      <% unless @rods.blank? %>  
        <% @rods.each_with_index do |rod, index| %>
          <tr>
            <td><%= index+1 %><%#= link_to(@rod) rods_path %></td> 
            <td>
              <%= image_tag rod.avatar.url(:thumb) %>
              <%= f.file_field :avatar %> 
            </td>
            <%= f.hidden_field :id, :value => rod.id %>
            <td><%= f.text_field :name, :value => rod.name %></td>
            <td><%= f.text_field :price_painted, :value=> rod.price_painted %></td>
            <td><%= f.text_field :price_plated, :value=> rod.price_plated%></td>
            <td><%= f.text_field :model, :value=> rod.model %></td>
            <td><%= f.text_field :rod_length, :value=> rod.rod_length %></td>
            <td><%= f.text_field :color, :value => rod.color %></td>
            <td><%= f.text_field :retail, :value => rod.retail %></td>
            <td><%= f.text_field :finish_technique, :value => rod.finish_technique %></td>
            <td><%= f.text_field :factory, :value => rod.factory %></td>
            <td><%= f.text_field :fob, :value => rod.fob %></td>
            <td><%= f.text_field :landed, :value => rod.landed %></td>
            <td><%= f.text_field :amg_sell, :value => rod.amg_sell %></td>
            <td><%= f.text_field :total_fob, :value => rod.total_fob %></td>
            <td><%= f.text_field :total_landed, :value => rod.total_landed %></td>
            <td><%= f.text_field :total_amg_sell, :value => rod.total_amg_sell %></td>
            <td><%= f.text_field :total_retail_sales, :value => rod.total_retail_sales %></td>
            <td><%= f.text_field :amg_margin, :value => rod.amg_margin %></td>
            <td><%= f.text_field :retail_margin, :value => rod.retail_margin %></td>
            <td><%= f.text_field :first_shipment_quantity, :value => rod.first_shipment_quantity %></td>
            <td><%= f.text_field :total_wave_2_quantity, :value => rod.total_wave_2_quantity %></td>
            <td><%= f.text_field :forty_hq_container_max, :value => rod.forty_hq_container_max %></td>
            <td><%= f.text_field :brand, :value => rod.brand %></td>
            <td><%= f.text_field :status, :value => rod.status %></td>
            <td><%= f.text_field :port, :value => rod.port %></td>
            <td><%= f.text_field :its_inspection_date, :value => rod.its_inspection_date %></td>
            <td><%= f.text_field :etd, :value => rod.etd %></td>
            <td><%= f.text_field :eta_port, :value => rod.eta_port %></td>
            <td><%= f.text_field :eta_warehouse, :value => rod.eta_warehouse %></td>
            <td><%= f.text_field :po, :value => rod.po %></td>
            <td><%= f.text_field :cartons_shipping, :value => rod.cartons_shipping %></td>
            <td><%= f.text_field :quantity_shipping, :value => rod.quantity_shipping %></td>
          </tr>
        <% end %>  
      </tbody>
    </table>
    
    <%= f.submit "update rod",:class=>"btn"%>
  <% end %>
<% end %>

<%#= form_for(@rod) do |f| %>
  <%#= f.fields_for :rods do |rod| %>
    <p>
    <%#= rod.text_field :name %><br>
    </p>
  <%# end %>

  <%#= f.submit %>
<%# end %>


<!--
<%= form_tag rods_path do %>
<% @rods.each do |rod| %>
<%= fields_for 'rods[]', rod do |r| %>

    <div class="field">
      <%= r.label :name %><br>
      <%= r.text_field :name %>
    </div>
    <div class="field">
      <%= r.label :price_painted %><br>
      <%= r.text_field :price_painted %>
    </div>

  <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %> -->



<%#=@rods.each do |rod| %>
  <%#= form_for rod do |f| %>
    <%#= f.text_field :name %>
    <%#= f.submit %>
  <%# end %>
<%# end %>
