
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgba(82,51,51,1);
    color: white;
}
</style>
<br><br>
<table>
<thead>
<tr>
<th>ID</th>
<th>Photo</th>
<th>Name</th>
<th>Price Painted</th>
<th>Price Plated</th>
<th>Model</th>
<th>Rod Length</th>
<th>Color</th>
<th>Retail</th>
<th>Finish Technique</th>
<th>Factory</th>
<th>FOB</th>
<th>Landed</th>
<th>AMG Sell</th>
<th>Total FOB</th>
<th>Total Landed</th>
<th>Total AMG Sell</th>
<th>Total Retail Sales</th>
<th>AMG Margin</th>
<th>Retail Margin</th>
<th>First Shipment Quantity</th>
<th>Total Wave 2 Quantity</th>
<th>40'HQ Container Max</th>
<th>Brand</th>
<th>Status</th>
<th>Port</th>
<th>ITS</th>
<th>ETD</th>
<th>ETA Port</th>
<th>ETA Warehouse</th>
<th>PO</th>
<th>Cartons Shipping</th>
<th>Quantity Shipping</th>

</tr>
</thead>
<tbody>
<tr>
<% @rods.each do |rod| %>
  <td><%#= link_to(@rod) rods_path %></td>
  <td><%= image_tag rod.avatar.url(:thumb) %></td>
  <td><%= rod.name %></td>
  <td><%= rod.price_painted %></td>
  <td><%= rod.price_plated%></td>
  <td><%= rod.model %></td>
  <td><%= rod.rod_length %>"</td>
  <td><%= rod.color %></td>
  <td><%= rod.retail %></td>
  <td><%= rod.finish_technique %></td>
  <td><%= rod.factory %></td>
  <td><%= rod.fob %></td>
  <td><%= rod.landed %></td>
  <td><%= rod.amg_sell %></td>
  <td><%= rod.total_fob %></td>
  <td><%= rod.total_landed %></td>
  <td><%= rod.total_amg_sell %></td>
  <td><%= rod.total_retail_sales %></td>
  <td><%= rod.amg_margin %></td>
  <td><%= rod.retail_margin %></td>
  <td><%= rod.first_shipment_quantity %></td>
  <td><%= rod.total_wave_2_quantity %></td>
  <td><%= rod.forty_hq_container_max %></td>
  <td><%= rod.brand %></td>
  <td><%= rod.status %></td>
  <td><%= rod.port %></td>
  <td><%= rod.its_inspection_date %></td>
  <td><%= rod.etd %></td>
  <td><%= rod.eta_port %></td>
  <td><%= rod.eta_warehouse %></td>
  <td><%= rod.po %></td>
  <td><%= rod.cartons_shipping %></td>
  <td><%= rod.quantity_shipping %></td>
</tr>
  <% end %>
</tbody>
</table>

<%=@rods.each do |rod| %>
  <%= fields_for rod do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

<% end %>
