
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<br><br>
<table>
<thead>
<tr>
<th>ID</th>
<th>Photo</th>
<th>Name</th>
<th>Price Painted</th>
<th>Price Plated</th>
<th>Model</th>
<th>Rod Length</th>
</tr>
</thead>
<tbody>
<tr>
<% @rods.each do |rod| %>
  <td><%= rod.id %></td>
  <td><%= image_tag rod.avatar.url(:thumb) %></td>
  <td><%= rod.name %></td>
  <td><input type="text" name="price_painted"></td>
  <td><input type="text" name="price_plated"></td>
  <td><%= rod.model %></td>
  <td><%= rod.rod_length %>"</td>
</tr>
  <% end %>
</tbody>
</table>
